<?php
// Base URL only needs to be set if installed outside of web root
// i.e. http://example.com/pwx
//
// don't use a trailing slash
//
// if you run both SSL and non-SSL environments use a protocol neutral url
// i.e. //example.com/pwx
// a SSL environment is highly recommended though
$config['baseUrl'] = '';

// Force redirect to SSL if non SSL page is requested
$config['requireHttps'] = true;

// Database settings
$config['db.options']['driver'] = 'pdo_mysql';
$config['db.options']['host'] = '';
$config['db.options']['dbname'] = '';
$config['db.options']['user'] = '';
$config['db.options']['password'] = '';
// Database settings when using sqlite
//$config['db.options']['driver'] = 'pdo_sqlite';
//$config['db.options']['path'] = __DIR__.'/app.db';

// Add your secret key here. This is used to encrypt database content
$config['secret'] = 'yourPasswordEncryptionKey';

// Set your locale
// supported locales: en, es, de, nl
$config['locale'] = 'en';

// email configuration
// server options: smtp, sendmail
$config["email_active"] = false;
$config['email']['method'] = 'sendmail';
$config['email']['sendmail_path'] = '/usr/sbin/sendmail -bs'; // only needed when using sendmail
$config['email']['hostname'] = '';
$config['email']['port'] = '25';
$config['email']['authentication'] = true;
$config['email']['username'] = '';
$config['email']['password'] = '';
$config['email']['from_address'] = 'sample@example.org';
$config['email']['subject'] = '';


// Theme
// PWX uses themes from https://bootswatch.com/
// the following themes are supported:
// cerulean cosmo cyborg darkly flatly journal lumen paper readable sandstone simplex slate spacelab superhero united yeti
$config['theme'] = 'yeti';

// Debug mode
$config['debug'] = false;
