<?php
$config['debug'] = false;

$config['db.options']['driver'] = 'pdo_mysql';
$config['db.options']['host'] = 'localhost';
$config['db.options']['dbname'] = '';
$config['db.options']['user'] = '';
$config['db.options']['password'] = '';
