/* Page */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}


a, a:hover, a:visited {
  text-decoration: none;
}

/* Share link */
.panel-body button {
  float: right;
}

/* Link creation form */
.insert-password {
  margin-top: 0.5em;
  font-size: 0.8em;
}
.defaulthide {
	display: none;
}