{% set baseUrl = (app.request.scheme ~ '://' ~ app.request.host ~ app.request.baseUrl) %}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWX - {% block title %}No Title{% endblock %}</title>
    {% block head %}{% endblock %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    {% include 'jslocale.twig' %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.zclip.min.js"></script>
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4 page-container">
          <h1><a href="{{ baseUrl }}">{{ 'app.name'|trans }}</a></h1>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        {{ 'app.poweredby'|trans }} <a href="https://github.com/MichaelThessel/pwx">pwx</a>.
      </div>
    </footer>
    {% block closing_scripts %}{% endblock %}
  </body>
</html>
