<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>PWX - {% block title %}No Title{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block closing_scripts %}{% endblock %}
  </body>
</html>
