{% extends 'layout.twig' %}
{% block title %}Password Exchange - View {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2 col-md-offset-4 col-lg-offset-5 page-container">
      {% if userName %}
        <div class="panel panel-default">
          <div class="panel-heading">User Name</div>
          <div class="panel-body">
            {{ userName }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Password</div>
          <div class="panel-body">
            {{ password }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">This will expire</div>
          <div class="panel-body">
            <script>
              $(document).ready(function() {
                $('#expires').countdown('{{ expires }}', function(event) {
                  var $this = $(this).html(event.strftime(''
                    + '<span>%D</span> days '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
                });
              });
            </script>
            <div id="expires"></div>
          </div>
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-alert"></span> The requested record has expired!</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
