{% extends 'layout.twig' %}
{% block title %}Password Exchange - View {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4 page-container">
      {% if userName %}
        <div class="panel panel-default">
          <div class="panel-heading">User Name</div>
          <div class="panel-body">
            {{ userName }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Password</div>
          <div class="panel-body">
            {{ password }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">This will expire</div>
          <div class="panel-body">
            <script>
              $(document).ready(function() {
                $('#expires').countdown('{{ expires }}', countdownCallback);
              });
            </script>
            <div id="expires"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Share this link</div>
          <div class="panel-body share-container">
            <span id="share">{{ (app.request.host ~ app.request.baseUrl ~ '/pw/' ~ hash) }}</span>
            <button type="button" class="btn btn-default" title="Copy to clipboard"><span class="glyphicon glyphicon-copy"></span></button>
          </div>
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-alert"></span> The requested record has expired!</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
